{% extends 'base.html' %}

{% block content %}

<h2> Добавление филиала </h2>

<form method="post">
    {% csrf_token %}
    <div class="form-block">
        <label>Название филиала</label>
        <input name="name" type="text">
    </div>
    <div class="form-block">
        <label>Адрес филиала</label>
        <input name="address" type="text">
    </div>
    <div class="form-block">
        <label>Рейтинг: </label>
        <input name="rating" type="number" min="0" max="10">
    </div>
    <div class="form-block">
        <label>Описание: </label>
        <textarea name="description"></textarea>
    </div>
    <button>Добавить филиал</button>
</form>

{% endblock %}

