{% extends 'base.html' %}

{% block title %} Эльдорадо 🍟 {% endblock %}

{% block content %}

<h2>Обратная связь</h2>

<form method="post">
    <p style="color: red">{{ errors }}</p>
    {% csrf_token %}
    <div class="form-block">
        <label>Имя пользователя 🎈</label>
        <input name="first_name" type="text" placeholder="введите имя">
    </div>
    <div class="form-block">
        <label>Текст 💬</label>
        <textarea name="text"></textarea>
    </div>
    <div class="form-block">
        <label>Телефон 📢</label>
        <input name="phone" type="text" placeholder="номер телефона">
    </div>
    <button>Отправить отзыв</button>
</form>


{% endblock %}